<!-- Our Team -->
    <section class="our-team py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-5">Tim Kami</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card team-card h-100">
                        <img src="gambar/Izaz.jpeg" class="card-img-top" alt="Izaz Tsany">
                        <div class="card-body text-center">
                            <h5 class="card-title">Izaz Tsany Rismawan</h5>
                            <p class="text-muted">Mc Kelompok
                            </p>
                            <p class="card-text">Mencintai dunia kuliner sejak kecil, Izaz membawa passion dan kreativitasnya ke dalam setiap menu Cafe Zayyani's.</p>
                            <div class="social-icons mt-3">
                                <a href="https://github.com/IzazTsany14" class="text-primary me-2"><i class="fab fa-github"></i></a>
                                <a href="#" class="text-danger me-2"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="text-info"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card team-card h-100">
                        <img src="gambar/1000031513.jpg" class="card-img-top" alt="Muehehe">
                        <div class="card-body text-center">
                            <h5 class="card-title">Nakula Syafa</h5>
                            <p class="text-muted">Pemula </p>
                            <p class="card-text">Hidup Hanya Untuk Makan</p>
                            <div class="social-icons mt-3">
                                <a href="https://github.com/Nklasyfa" class="text-primary me-2"><i class="fab fa-github"></i></a>
                                <a href="https://www.instagram.com/nakulasyafa_?igsh=MWN3ZDBvenZwbWtkdw==" class="text-danger me-2"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="text-info"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card team-card h-100">
                        <img src="gambar/Gofur Aryan Nur Karim.jpg" class="card-img-top" alt="Gofurryan">
                        <div class="card-body text-center">
                            <h5 class="card-title">Gofur Aryan Nur Karim</h5>
                            <p class="text-muted">Sesepuh Pengodingan</p>
                            <p class="card-text">Kegagalan bukanlah akhir, melainkan awal dari perjalanan baru yang menantang</p>
                            <div class="social-icons mt-3">
                                <a href="https://github.com/Gofurryan" class="text-primary me-2"><i class="fab fa-github"></i></a>
                                <a href="#" class="text-danger me-2"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="text-info"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card team-card h-100">
                        <img src="gambar/Lufita Setiati.jpeg" class="card-img-top" alt="Lufita">
                        <div class="card-body text-center">
                            <h5 class="card-title">Lufita Setiati</h5>
                            <p class="text-muted">Sesepuh Pengodingan</p>
                            <p class="card-text">Sekecil apa pun langkah yang kita ambil hari ini, kalau kita terus maju di jalan yang benar, suatu saat akan membuat kita menyadari betapa berharganya setiap proses dan betapa luar biasanya pencapaian yang lahir dari keberanian untuk memulai.</p>
                            <div class="social-icons mt-3">
                                <a href="https://github.com/lupitaaasetia" class="text-primary me-2"><i class="fab fa-github"></i></a>
                                <a href="#" class="text-danger me-2"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="text-info"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card team-card h-100">
                        <img src="gambar/Muhammad Reyhan Sheva RizQulah.jpeg" class="card-img-top" alt="Rayhan Sheva">
                        <div class="card-body text-center">
                            <h5 class="card-title">M. Reyhan Sheva Rizqullah</h5>
                            <p class="text-muted">Sesepuh Pengodingan</p>
                            <p class="card-text">Dengan pengalaman lebih dari 10 tahun di dunia kopi, Budi memastikan setiap cangkir kopi yang disajikan memiliki kualitas terbaik.</p>
                            <div class="social-icons mt-3">
                                <a href="https://github.com/ShevaFortz" class="text-primary me-2"><i class="fab fa-github"></i></a>
                                <a href="#" class="text-danger me-2"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="text-info"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card team-card h-100">
                        <img src="gambar/Fearda Agnessiya Putri Dardiri.jpg" class="card-img-top" alt="Fearda">
                        <div class="card-body text-center">
                            <h5 class="card-title">Fearda Agnessiya Putri Dardiri</h5>
                            <p class="text-muted">Sesepuh Pengodingan</p>
                            <p class="card-text">"Life is emotionally abusive, but it's fine to fake it 'til you make it—'til you do, 'til it's true." – Snow on the Beach, Taylor Swift
"I got tired a lot, but never get tired of it."– Taylor Swift </p>
                            <div class="social-icons mt-3">
                                <a href="https://github.com/feardaa" class="text-primary me-2"><i class="fab fa-github"></i></a>
                                <a href="#" class="text-danger me-2"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="text-info"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card team-card h-100">
                        <img src="gambar/M.Amrullah.jpg" class="card-img-top" alt="Budi Santoso">
                        <div class="card-body text-center">
                            <h5 class="card-title">Amrullah Widyapratama</h5>
                            <p class="text-muted">Sesepuh Pengodingan</p>
                            <p class="card-text">Dengan pengalaman lebih dari 10 tahun di dunia kopi, Budi memastikan setiap cangkir kopi yang disajikan memiliki kualitas terbaik.</p>
                            <div class="social-icons mt-3">
                                <a href="https://github.com/AxelPra" class="text-primary me-2"><i class="fab fa-github"></i></a>
                                <a href="#" class="text-danger me-2"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="text-info"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card team-card h-100">
                        <img src="gambar/Nur rohmatin asy-syifa.jpg" class="card-img-top" alt="Nur rohmatin">
                        <div class="card-body text-center">
                            <h5 class="card-title">Nur Syifa</h5>
                            <p class="text-muted">Sesepuh Pengodingan</p>
                            <p class="card-text">Dengan pengalaman lebih dari 10 tahun di dunia kopi, Budi memastikan setiap cangkir kopi yang disajikan memiliki kualitas terbaik.</p>
                            <div class="social-icons mt-3">
                                <a href="https://github.com/nurasyifaaa" class="text-primary me-2"><i class="fab fa-github"></i></a>
                                <a href="#" class="text-danger me-2"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="text-info"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>