<div th:fragment="genre" class="genre-container">
  <a th:href="@{/koleksi-semua}" class="genre-item" title="Semua Genre">
    <div class="genre-icon"><i class="bi bi-book"></i></div>
    <div class="genre-label">All</div>
  </a>
  <a th:href="@{/genre(tipe='romance')}" class="genre-item" title="Romansa">
    <div class="genre-icon"><i class="bi bi-suit-heart"></i></div>
    <div class="genre-label">Romance</div>
  </a>
  <a th:href="@{/genre(tipe='fantasi')}" class="genre-item" title="Fantasi">
    <div class="genre-icon"><i class="bi bi-magic"></i></div>
    <div class="genre-label">Fantasi</div>
  </a>
  <a th:href="@{/genre(tipe='horror')}" class="genre-item" title="Horor">
    <div class="genre-icon"><i class="fa-solid fa-skull"></i></div>
    <div class="genre-label">Horor</div>
  </a>
  <a th:href="@{/genre(tipe='inspiratif')}" class="genre-item" title="Inspiratif">
    <div class="genre-icon"><i class="bi bi-mortarboard-fill"></i></div>
    <div class="genre-label">Inspiratif</div>
  </a>
  <a th:href="@{/genre(tipe='adventure')}" class="genre-item" title="Petualangan">
    <div class="genre-icon"><i class="bi bi-compass"></i></div>
    <div class="genre-label">Adventure</div>
  </a>
  <a th:href="@{/genre(tipe='thriller')}" class="genre-item" title="Thriller">
    <div class="genre-icon"><i class="fa-solid fa-user-secret"></i></div>
    <div class="genre-label">Thriller</div>
  </a>
</div>