<nav th:fragment="navbar" class="navbar navbar-expand-lg px-4 py-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NOVEL<span class="fw-bold">KU</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse justidy navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link " href="index">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Koleksi</a></li>
        <li class="nav-item"><a class="nav-link" href="keranjang">Keranjang</a></li>
        <li class="nav-item"><a class="nav-link" href="aboutus">About</a></li>
      </ul>
      <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-3 w-100 justify-content-lg-end mt-3 mt-lg-0">
        <div class="search-wrapper position-relative" style="width: 300px;">
          <input type="text" class="form-control" placeholder="Cari novel...">
          <i class="bi bi-search"></i>
        </div>
        <div th:if="${session.loggedInUser}" class="user-info" style="cursor: pointer;" data-bs-toggle="modal"
          data-bs-target="#logoutModal">
          <i class="bi bi-person-circle text-white"></i>
          <span th:text="${session.loggedInUser}">Username</span>
        </div>
      </div>
    </div>
  </div>
      <!-- Modal Logout -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header border-0">
            <h5 class="modal-title" id="logoutModalLabel">Konfirmasi Logout</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Tutup"></button>
          </div>
          <div class="modal-body">Apakah Anda yakin ingin logout?</div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
            <a href="/auth/login" class="btn btn-outline-light">Logout</a>
          </div>
        </div>
      </div>
    </div>
</nav>