body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f3eb;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 70px;
}

.cart-page-wrapper {
    gap: 2rem;
    flex-grow: 1;
    width: 100%;
    max-width: 1300px;
    margin: 2rem auto;
    padding: 0 1rem 10rem 1rem;
}


.cart-items-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.cart-item {
    display: flex;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    gap: 1.5rem;
    align-items: center;
}

.cart-item img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

.cart-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.cart-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

.cart-author {
    color: #888;
    font-size: 0.9rem;
}

.cart-price {
    margin-top: 1rem;
    font-weight: 600;
    color: #c19759;
    font-size: 1.1rem;
}


.cart-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-remove {
    background: none;
    border: none;
    color: #888;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s;
}

.btn-remove:hover {
    color: #e74c3c;
}

.order-summary {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 100%;
    max-width: 360px;
    z-index: 900;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.order-summary h3 {
    font-weight: 600;
    color: #333;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: #333;
}

.summary-row span:last-child {
    color: #c19759;
}

.checkout-btn {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #c19759;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: #a17a3d;
}


.empty-cart-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    margin: 2rem;
    border: 2px dashed #d1c8b6;
    border-radius: 15px;
}

.empty-cart-container h4 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #555;
}

.empty-cart-container p {
    color: #777;
    max-width: 400px;
}